body{
    background-color:black;
}
.card{
    background-image: url(./image/backgorund.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding:1px  20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 200px;
    margin: auto;
    margin-top: 10%;
}
a{
    text-decoration: none;
    color: black;
    display: block;
    
    
}
a:hover{
    color:blue;
    
}
.instagram{
    list-style-image: url(.//image/Insta.png);
}
.twitter{
    list-style-image: url(./image/Twitter.png);
}
.youtube{
    list-style-image: url(./image/Youtube.png);
}